@page
@model MovieNight.Pages.ToSModel
@{
}

<head>
    <meta charset="UTF-8">
    <title>Terms of Service - MovieNight</title>
    <link rel="stylesheet" href="/css/ToS.css" />
</head>
<body>
    <main>
        <section>
            <h2>1. Introduction</h2>
            <p>Welcome to MovieNight. These terms govern your use of MovieNight and provide information about the MovieNight Service.</p>
        </section>

        <section>
            <h2>2. Acceptance of Terms</h2>
            <p>By accessing our website, you agree to these Terms of Service.</p>
        </section>

        <section>
            <h2>3. Changes to Terms</h2>
            <p>We reserve the right to modify these terms at any time.</p>
        </section>

        <section>
            <h2>4. Account Registration</h2>
            <p>Users must register an account to access certain features of the site.</p>
        </section>

        <section>
            <h2>5. User Conduct</h2>
            <p>Users must comply with all applicable laws and regulations and respect other users' rights.</p>
        </section>

        <section>
            <h2>6. Content Ownership</h2>
            <p>MovieNight claims no intellectual property rights over the material you provide to the service.</p>
        </section>

        <section>
            <h2>7. User-Generated Content</h2>
            <p>Users are responsible for their content, including compliance with copyright laws.</p>
        </section>

        <section>
            <h2>8. Privacy Policy</h2>
            <p>Your privacy is important to us. Our Privacy Policy is included under these Terms of Service.</p>
        </section>

        <section>
            <h2>9. Termination</h2>
            <p>Accounts that violate these terms may be terminated.</p>
        </section>

        <section>
            <h2>10. Contact Information</h2>
            <p>For any questions about these Terms of Service, please contact us at <a href="mailto:i.chevarganov@student.fontys.nl">i.chevarganov@student.fontys.nl</a>.</p>
        </section>
    </main>
</body>

