@page
@model MovieNight.Pages.Catalogues.SeriesModel
@{
    @if (Model.LoggedInUser != null)
    {
        Layout = "_LayoutLoggedIn";
    }
    ViewData["Title"] = "Series Catalogue";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/IndexPage.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2 class="textborderstyle text-white mb-3">Series</h2>
        <div class="row">
            @foreach (var series in Model.Series)
            {
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                    <a href="/Series/@series.Id" class="text-decoration-none">
                        <div class="card bg-dark text-white movie-item h-100">
                            <img src="@series.ImageLink" class="card-img-top img-fluid" alt="@series.Title" style="height: 300px; object-fit: cover;">
                            <div class="card-body">
                                <p class="card-title text-truncate">@series.Title</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</body>