@page
@model MovieNight.Pages.Account.LoginModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Login/Sign Up";
}


<head>
    <meta charset="UTF-8">
    <title>Login/Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/LoginPage.css">
</head>


<body>

    <!-- Error Modal -->
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="errorMessage"></p>
        </div>
    </div>


    <div class="form-wrap">
        <div class="tabs">
            <h3 class="login-tab"><a href="#login-tab-content" class="active" style="border-top-right-radius: 7px;">Login</a></h3>
            <h3 class="signup-tab"><a href="/Account/Register" style="border-top-left-radius: 7px;">Sign Up</a></h3>
            <div><h6 class="error-message">@ViewData["Error"]</h6></div>
        </div>
        <div class="tabs-content">
            <div id="login-tab-content" class="tab-content active">
                <form class="login-form" method="post">
                    <input type="hidden" name="action" value="Login" />

                    <input type="text" class="input" autocomplete="off" asp-for="Username" placeholder="Username *" required>
                    <span asp-validation-for="Username" class="text-danger"></span>

                    <input type="password" class="input" autocomplete="off" asp-for="Password" placeholder="Password *" required>
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <input type="checkbox" class="checkbox" id="remember_me">
                    <label for="remember_me">Remember me</label>
                    <input type="submit" class="button" value="Login">
                </form>
                <div class="help">
                    <p><a href="/ForgottenPassword">Forgot your password?</a></p>
                </div>
            </div>
        </div>
    </div>
@*     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/LoginPage.js"></script> *@
</body>
